.circu {
    width: 400 px;
    height: 400 px;
    border-radius: 100%;
    border: 25rem solid black;
    position: relative;
}

.rayos {
    width: 100px;
    height: 5px;
    background-color: black;
}

.circu .rayos:first-of-type {
    position: absolute;
    top: 190px;
    background-color: peru;
}

.circu .rayos:nth-of-type(2) {
    position: absolute;
    background-color: purple;
    transform: rotateZ(45deg);
}

.circu .rayos:nth-of-type(3) {
    position: absolute;
    background-color: purple;
    transform: rotateZ(90deg);
}

.circu .rayos:last-of-type {
    position: absolute;
    background-color: purple;
    transform: rotateZ(135deg);
}